{% extends "layout.html" %}
{% block content %}
<div>
	<center>
	<button id="dailyButton" class ="btn btn-outline-info">Daily Activity</button>
	<button id="historicalButton" class ="btn btn-outline-info">Historical</button>
	</center>
</div>

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'daily')}}";
    };

document.getElementById("historicalButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'historical')}}";
    };
</script>


<center>
<h1>Activity Historical</h1>
</center>

<canvas id="line_canvas"></canvas>
<canvas id="line_canvas1"></canvas>
<canvas id="line_canvas2"></canvas>


<script>
var data_set_daily = [
	{
        label: 'Steps',
        Color: '#dfdfdf',
        fill: false,
        data: {{data.steps.week}}
    },
    {
        label: 'Stairs',
        Color: '#00b22d',
        fill: false,
        data: {{data.stairs.week}}
    },
    {
        label: 'Distance',
        Color: '#cb9c89',
        fill: false,
        data: {{data.distance.week}},
    },

    {
        label: 'Running',
        Color: '#cb9c89',
        fill: false,
        data: {{data.running.week}},
    }

];
var daily_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

var month_data_set = [
	{
        label: 'Steps',
        Color: '#dfdfdf',
        fill: false,
        data: {{data.steps.month}}
    },
    {
        label: 'Stairs',
        Color: '#00b22d',
        fill: false,
        data: {{data.stairs.month}}
    },
    {
        label: 'Distance',
        Color: '#cb9c89',
        fill: false,
        data: {{data.distance.month}},
    },

    {
        label: 'Running',
        Color: '#cb9c89',
        fill: false,
        data: {{data.running.month}},
    }
];
var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]

var all_data_set = [
{
        label: 'Steps',
        Color: '#dfdfdf',
        fill: false,
        data: {{data.steps.all}}
    },
    {
        label: 'Stairs',
        Color: '#00b22d',
        fill: false,
        data: {{data.stairs.all}}
    },
    {
        label: 'Distance',
        Color: '#cb9c89',
        fill: false,
        data: {{data.distance.all}},
    },

    {
        label: 'Running',
        Color: '#cb9c89',
        fill: false,
        data: {{data.running.all}},
    }
];

document.addEventListener('DOMContentLoaded', function(){
	line_chart('line_canvas', data_set_daily, daily_labels, '')
	line_chart('line_canvas1', month_data_set, month_labels, '')
	line_chart('line_canvas2', all_data_set, ["1m", "2m", "3m"], '')
}, false);

</script>


{% endblock content%}
