{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link active" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'historical')}}";
    };
</script>


<center>
<h1>Activity Historical</h1>
</center>

<canvas id="line_canvas"></canvas>
<canvas id="line_canvas1"></canvas>
<canvas id="line_canvas2"></canvas>
<canvas id="line_canvas3"></canvas>


<script>
var avg_pulse_data_set = [
	{
        label: 'Average Pulse',
        Color: '#008000',
        fill: false,
        data: {{data.avg_pulse.month}}
    }
];

var max_pulse_data_set = [
	{
        label: 'Max Pulse',
        Color: '#00FFFF',
        fill: false,
        data: {{data.max_pulse.month}}
    }
];

var workout_calories_data_set = [
	{
        label: 'Workout Calories',
        Color: '#008080',
        fill: false,
        data: {{data.workout_calories.month}}
    }
];

var running_km_data_set = [
	{
        label: 'Running Km',
        Color: '#0000FF',
        fill: false,
        data: {{data.running_km.month}}
    }
];


var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]

document.addEventListener('DOMContentLoaded', function(){
	line_chart('line_canvas', avg_pulse_data_set, month_labels, '')
	line_chart('line_canvas1', max_pulse_data_set, month_labels, '')
	line_chart('line_canvas3', workout_calories_data_set, month_labels, '')
	line_chart('line_canvas3', running_km_data_set, month_labels, '')
}, false);

</script>


{% endblock content%}
