{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link active" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'historical')}}";
    };
</script>

<div class="pills_wrapper">
  <center>
  	<div class="nav_pills">
  			<button id="show_week" class ="btn btn-outline-info">Week</button>
  			<button id="show_month" class ="btn btn-outline-info">Month</button>
  			<button id="show_year" class ="btn btn-outline-info">Year</button>
  	</div>
  </center>
 	<div class="nav_pill_content week">
        <canvas id="steps_week_chart" height="220"></canvas>
		<canvas id="stairs_week_chart" height="220"></canvas>
		<canvas id="distance_week_chart" height="220"></canvas>
	</div>
	<div class="nav_pill_content month">
		<canvas id="steps_month_chart" height="220"></canvas>
        <canvas id="stairs_month_chart" height="220"></canvas>
		<canvas id="distance_month_chart" height="220"></canvas>
	</div>
 	<div class="nav_pill_content year">
        <canvas id="steps_year_chart" height="220"></canvas>
		<canvas id="stairs_year_chart" height="220"></canvas>
		<canvas id="distance_year_chart" height="220"></canvas>
	</div>
</div>

<script>

var stairs_week_data_set = [
    {
        label: 'Stairs',
        Color: '#EF8132',
        fill: false,
        data: {{data.stairs.week}}
    }
];
var stairs_month_data_set = [
    {
        label: 'Stairs',
        Color: '#EF8132',
        fill: false,
        data: {{data.stairs.month}}
    }
];
var stairs_year_data_set = [
    {
        label: 'Stairs',
        Color: '#EF8132',
        fill: false,
        data: {{data.stairs.year}}
    }
];

var steps_week_data_set = [
	{
        label: 'Steps',
        Color: '#EF8132',
        fill: false,
        data: {{data.steps.week}}
    }
];
var steps_month_data_set = [
	{
        label: 'Steps',
        Color: '#EF8132',
        fill: false,
        data: {{data.steps.month}}
    }
];
var steps_year_data_set = [
	{
        label: 'Steps',
        Color: '#EF8132',
        fill: false,
        data: {{data.steps.year}}
    }
];
var distance_week_data_set = [
	{
        label: 'Distance',
        Color: '#EF8132',
        fill: false,
        data: {{data.distance.week}}
    }
];
var distance_month_data_set = [
	{
        label: 'Distance',
        Color: '#EF8132',
        fill: false,
        data: {{data.distance.month}}
    }
];
var distance_year_data_set = [
	{
        label: 'Distance',
        Color: '#EF8132',
        fill: false,
        data: {{data.distance.year}}
    }
];

var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]
var year_labels = ["January",
"", "",
"April",
"", "",
"July",
"", "",
"October",
"",
"December"
]

/*var year_labels = [
 {% for i in range(13)[1:] %}
 "{{ i}} month",
 {% endfor %}
]*/
var week_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
document.addEventListener('DOMContentLoaded', function(){
    // Max Pulse Charts
    line_chart('steps_week_chart', steps_week_data_set, week_labels, '')
    line_chart('steps_month_chart', steps_month_data_set, month_labels, '')
    line_chart('steps_year_chart', steps_year_data_set, year_labels, '')
	// Stairs Charts
	line_chart('stairs_week_chart', stairs_week_data_set, week_labels, '')
	line_chart('stairs_month_chart', stairs_month_data_set, month_labels, '')
	line_chart('stairs_year_chart', stairs_year_data_set, year_labels, '')
	// Distance Pulse Charts
	line_chart('distance_week_chart', distance_week_data_set, week_labels, '')
	line_chart('distance_month_chart', distance_month_data_set, month_labels, '')
	line_chart('distance_year_chart', distance_year_data_set, year_labels, '')
}, false);
</script>


{% endblock content%}
