{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link active" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_activity', view = 'historical')}}";
    };
</script>

<div class="container">
	<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Activity & Training</h5>
						{% if user_data %}
						<h6 class="card-subtitle mb-4 text-muted">Browse your activity & training history</h6>
						<div class="days">
							{% for day in user_data %}
							<div class="single_day">
								<div class="day_name"><p>Today</p></div>
								<div class="container">
									<div class="row">
										<div class="chart-wrapper col">
											<div class="steps_chart chart_progress" data={{day.steps}}></div>
											<h2 class="chart_title">Steps</h2>
										</div>
										<div class="chart-wrapper col">
											<div class="chart_progress stairs_chart" data={{day.stairs}}></div>
											<h2 class="chart_title">Stairs</h2>
										</div>
										<div class="chart-wrapper col">
											<div class="chart_progress distance_chart" data={{day.distance}}></div>
											<h2 class="chart_title">Distance</h2>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% else %}
						<h6 class="card-subtitle mb-4 text-muted">You don't have any recorded data yet.</h6>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>

{% endblock content%}
