{% extends "layout.html" %}
{% block content %}
<div>
	<center>
	<button id="dailyButton" class ="btn btn-outline-info">Daily Activity</button>
	<button id="historicalButton" class ="btn btn-outline-info">Historical</button>
	</center>
</div>

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'daily')}}";
    };

document.getElementById("historicalButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'historical')}}";
    };
</script>

<center>
<h1>Food Historical</h1>
<p>IVARS KOD NEDAN</p>
</center>

<canvas id="line_canvas">

</canvas>


<script>
var line_config = {
type: 'line',
data: {
labels: [
'sleep_time', 'movement_index', 'number_of_steps', 'stairs', 'distance', 'running_km'
],
datasets: [
{
label: 'Protein',
backgroundColor: window.chartColors.red,
borderColor: window.chartColors.red,
fill: false,
data: [
40, 70, 50, 12, 36, 55,
],
},
{
label: 'Fats',
backgroundColor: window.chartColors.orange,
borderColor: window.chartColors.orange,
fill: false,
data: [
52, 34, 54, 32, 62, 75,
],
},
{
label: 'Carbohydrates',
backgroundColor: window.chartColors.grey,
borderColor: window.chartColors.grey,
fill: false,
data: [
12, 34, 54, 32, 62, 75,
],
}
]
},
options: {
responsive: true,
title: {
display: true,
text: 'TITLE'
},
scales: {
xAxes: [{
display: true,
}],
yAxes: [{
display: true,
}]
}
}
};

</script>


{% endblock content%}
