{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link active" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'historical')}}";
    };
</script>

<div class="pills_wrapper">
  <center>
  	<div class="nav_pills">
  			<button id="show_week" class ="btn btn-outline-info">Week</button>
  			<button id="show_month" class ="btn btn-outline-info">Month</button>
  			<button id="show_year" class ="btn btn-outline-info">Year</button>
  	</div>
  </center>
 	<div class="nav_pill_content week">
		<canvas id="carbohydrates_week_chart" height="220"></canvas>
		<canvas id="fat_week_chart" height="220"></canvas>
        <canvas id="protein_week_chart" height="220"></canvas>
	</div>
	<div class="nav_pill_content month">
		<canvas id="carbohydrates_month_chart" height="220"></canvas>
		<canvas id="fat_month_chart" height="220"></canvas>
        <canvas id="protein_month_chart" height="220"></canvas>
	</div>
	<div class="nav_pill_content year">
		<canvas id="carbohydrates_year_chart" height="220"></canvas>
		<canvas id="fat_year_chart" height="220"></canvas>
        <canvas id="protein_year_chart" height="220"></canvas>
	</div>
</div>


<script>
var carbohydrates_week_data_set = [
	{
        label: 'Carbohydrates',
        Color: '#EF8132',
        fill: false,
        data: {{data.carbohydrates.week}}
    }
];
var carbohydrates_month_data_set = [
	{
        label: 'Carbohydrates',
        Color: '#EF8132',
        fill: false,
        data: {{data.carbohydrates.month}}
    }
];
var carbohydrates_year_data_set = [
	{
        label: 'Carbohydrates',
        Color: '#EF8132',
        fill: false,
        data: {{data.carbohydrates.year}}
    }
];
var protein_week_data_set = [
	{
        label: 'Protein',
        Color: '#EF8132',
        fill: false,
        data: {{data.protein.week}}
    }
];
var protein_month_data_set = [
	{
        label: 'Protein',
        Color: '#EF8132',
        fill: false,
        data: {{data.protein.month}}
    }
];
var protein_year_data_set = [
	{
        label: 'Protein',
        Color: '#EF8132',
        fill: false,
        data: {{data.protein.year}}
    }
];
var fat_week_data_set = [
	{
        label: 'Fat',
        Color: '#EF8132',
        fill: false,
        data: {{data.fat.week}}
    }
];
var fat_month_data_set = [
	{
        label: 'Fat',
        Color: '#EF8132',
        fill: false,
        data: {{data.fat.month}}
    }
];
var fat_year_data_set = [
	{
        label: 'Fat',
        Color: '#EF8132',
        fill: false,
        data: {{data.fat.year}}
    }
];
var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]
var year_labels = ["January",
"", "",
"April",
"", "",
"July",
"", "",
"October",
"",
"December"
]

/*var year_labels = [
 {% for i in range(13)[1:] %}
 "{{ i}} month",
 {% endfor %}
]*/
var week_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
document.addEventListener('DOMContentLoaded', function(){
	// Carbohydrates
	line_chart('carbohydrates_week_chart', carbohydrates_week_data_set, week_labels, '')
	line_chart('carbohydrates_month_chart', carbohydrates_month_data_set, month_labels, '')
	line_chart('carbohydrates_year_chart', carbohydrates_year_data_set, year_labels, '')
	// Protein
	line_chart('protein_week_chart', protein_week_data_set, week_labels, '')
	line_chart('protein_month_chart', protein_month_data_set, month_labels, '')
	line_chart('protein_year_chart', protein_year_data_set, year_labels, '')
	// Fat
	line_chart('fat_week_chart', fat_week_data_set, week_labels, '')
	line_chart('fat_month_chart', fat_month_data_set, month_labels, '')
	line_chart('fat_year_chart', fat_year_data_set, year_labels, '')
}, false);
</script>


{% endblock content%}
