{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link active" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'historical')}}";
    };
</script>
<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Food & Nutrition</h5>
						{% if user_data %}
						<h6 class="card-subtitle mb-4 text-muted">Browse your food & nutrition history.</h6>
						<div class="days">
							{% for day in user_data %}
							<div class="single_day">
								<div class="day_name"><p>{{day.date}}</p></div>
								<div class="container">
									<div class="row">
										<div class="chart-wrapper">
                      <h2 class="chart_title">Carbs</h2>
											<div class="carb_chart chart_progress", data={{day.carbs/day.carbs_goal}}></div>
                      <span class="parameter_number">{{day.carbs}}g</span>
                      <span class="parameter_number">Goal: {{day.carbs_goal}}g</span>
										</div>
										<div class="chart-wrapper">
                      <h2 class="chart_title">Fat</h2>
                      <div class="fat_chart chart_progress", data={{day.fat/day.fat_goal}}></div>
                      <span class="parameter_number">{{day.fat}}g</span>
                      <span class="parameter_number">Goal: {{day.fat_goal}}g</span>
										</div>
										<div class="chart-wrapper">
                      <h2 class="chart_title">Protein</h2>
											<div class="protein_chart chart_progress", data={{day.protein/day.protein_goal}}></div>
                      <span class="parameter_number">{{day.protein}}g</span>
                      <span class="parameter_number">Goal: {{day.protein_goal}}g</span>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% else %}
						<h6 class="card-subtitle mb-4 text-muted">You don't have any recorded data yet.</h6>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>
{% endblock content%}
