{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">

<div>
	<center>
	<button id="dailyButton" class ="active btn btn-outline-info">Daily Activity</button>
	<button id="historicalButton" class ="btn btn-outline-info">Historical</button>
	</center>
</div>

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'daily')}}";
    };

document.getElementById("historicalButton").onclick = function () {
        location.href = "{{url_for('load_food', view = 'historical')}}";
    };
</script>
<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Food & Nutrition</h5>
						{% if user_data %}
						<h6 class="card-subtitle mb-4 text-muted">Browse your food & nutrition history.</h6>
						<div class="days">
							{% for day in user_data %}
							<div class="single_day">
								<div class="day_name"><p>{{day.day_display_name}}</p></div>
								<div class="container">
									<div class="row">
										<div class="chart-wrapper col">
											<div class="carb_chart chart_progress", data={{day.carbohydrates}}></div>
											<h2 class="chart_title">Carbs</h2>
										</div>
										<div class="chart-wrapper col">
											<div class="fat_chart chart_progress", data={{day.fat}}></div>
											<h2 class="chart_title">Fat</h2>
										</div>
										<div class="chart-wrapper col">
											<div class="protein_chart chart_progress", data={{day.protein}}></div>
											<h2 class="chart_title">Protein</h2>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% else %}
						<h6 class="card-subtitle mb-4 text-muted">You don't have any recorded data yet.</h6>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>
</div>
{% endblock content%}
