{% extends "layout.html" %}
{% block content %}

<style type="text/css">
body {
	background: url(https://cms.racefox.se//storage/uploads/2018/03/28/5abb70adb63bdnew-header-comp-01.jpg);
	background-size: auto 100%;
}

</style>

{% if current_user.is_authenticated %}
<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Today's Goal</h5>
						<h6 class="card-subtitle mb-4 text-muted">View today's progress. Follow the tips to reach your maximum potential.</h6>
						<div id="today_chart" class="chart_progress"></div>
						<div class="coach">
							<div class="coach_img"><img src="{{ url_for('static', filename='coach-icon.svg') }}" alt=""></div>
							<h4 class="coach-title">Coach</h4>
							<ul>
								<li>Eat a snack.</li>
								<li>Do yoga.</li>
								<li>Take a 10mile walk.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>
<script src="{{ url_for('static', filename='progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% else %}
<div id="login-button" class="col-md-4 text-center">
  <a href="{{ url_for('login') }}"><button type="button" class="btn btn-primary btn-lg"><span>Log in</span></button></a>
</div>
{% endif %}

{% endblock content%}
