{% extends "layout.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4>My Overview</h4>

						<!-- Uncomment if we need an overarching header. Otherwise it looks better without it
						<h5 class="card-title">WELCOME BACK!</h5>
						<h6 class="card-subtitle mb-4 text-muted">Lets reach your maximum potential!</h6>-->

						<div class="coach">
							<div class="coach_img"><img src="{{ url_for('static', filename='speed-icon.svg') }}" alt=""></div>
							<h5 class="coach-title">Daily Progress</h5>
							<p>Follow the tips from the AI-coach to increase your score.</p>

							<div id="today_chart" class="chart_progress"></div>
						</div>

						{% if user_data.daily_question %}
						<div class="coach" id="daily_assessment">
							<div class="coach_img"><img src="{{ url_for('static', filename='heart-rate-icon.svg')}}" alt="question"></div>
							<h5 class="coach-title">Daily Assessment</h5>
							<p id="question">Overall, how did you feel yesterday?</p>
							<form action="/report-wellness" id="wellnessform" method="post">
								<div class="smileys">
									<label>
										<input type="radio" name="wellness" value="1">
										<img src="/static/smileys/1.svg">
									</label>
									<label>
										<input type="radio" name="wellness" value="2">
										<img src="/static/smileys/2.svg">
									</label>
									<label>
										<input type="radio" name="wellness" value="3">
										<img src="/static/smileys/3.svg">
									</label>
									<label>
										<input type="radio" name="wellness" value="4">
										<img src="/static/smileys/4.svg">
									</label>
									<label>
										<input type="radio" name="wellness" value="5">
										<img src="/static/smileys/5.svg">
									</label>
								</div>
								<div "submitContainer">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>

						</div>
						{% endif %}
						<div class="coach">
							<div class="coach_img"><img src="{{ url_for('static', filename='coach-icon.svg') }}" alt=""></div>
							<h5 class="coach-title">Coach</h5>
							{% if user_data.coach_messages %}
							<ul>
								{% for message in user_data.coach_messages%}
								<li>{{message}}</li>
								{% endfor %}
							</ul>
							{% else %}
							<p>There's no data available! You'll get tips when we know you better!</p>
							{% endif %}
						</div>

						<div class="coach">
							<div class="coach_img"><img src="{{ url_for('static', filename='goal.png') }}" alt=""></div>
							<h5 class="coach-title">Selected cluster</h5>
							{% if user_data.clusters %}
							<p>Choose the cluster that matches your goals</p>
							<ul style="list-style-type:none;padding: 0px;">
								{% for cluster in user_data.clusters%}
									{% if loop.index == 1 %}
										<li style="background-color:#ef7e2d;border-radius:4px;color:white;">Cluster 1: 99%</li>
									{% else %}
										<li class="clusters">{{cluster}}</li>
									{% endif %}
								{% endfor %}
							</ul>
							{% else %}
							<p>There's no data available! We need to get to you better to classify what cluster you should aim for.</p>
							{% endif %}
						</div>
						<div class="coach">
							<div class="coach_img"><img src="https://cms.racefox.se/storage/racefox/RUN/icons/fast-results-icon.svg" alt=""></div>
							<h5 class="coach-title">Explore Data</h5>
							<p>Do you love data as much as we do?</p>
							<p>Try our new visualization tool to see how your daily holistic profile has changed over time.</p>
							<p><a href={{url_for('nerd_data')}}>Take me there!</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>
<script>
// Make AJAX call for daily assesment
$("#wellnessform").submit(function(e) {
    var form = $(this);
    var url = form.attr('action');
		console.log("did it");
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
							 $("#wellnessform").hide();
							 $("#question").hide();
							 $("#daily_assessment").append( "<p>Done!</p>" );
           }
         });
    e.preventDefault(); // avoid to execute the actual submit of the form.
});
</script>
<script src="{{ url_for('static', filename='progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% else %}
<div class="login-bg"></div>
<div class="loginform-wrapper">
	<div class="loginform-content">
		<div class="coach" style="background-color:white;margin-bottom:50px;">
			<div class="coach_img"><img src="{{url_for('static', filename='coach-icon.svg')}}" alt=""></div>
			<h5 class="coach-title">Coach</h5>
			<p>Welcome to Racefox!</p>
			<p style="text-align:justify;">With Racefox, you combine your data streams to get new personalized insights. We help you achieve better well-being, the holistic way.</p>
		</div>
		<div id="login-button" class="text-center">
  			<a href="{{ url_for('login') }}"><button type="button" class="btn btn-primary btn-lg"><span>Log in</span></button></a>
				<a href="{{ url_for('register') }}"><button type="button" class="btn btn-primary btn-lg"><span>Register</span></button></a>
		</div>
	</div>
</div>
<style>#login-button .btn {
		width: 45%;
		max-width: 250px;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    background-color: #EF8132;
		border: 0;
}</style>
{% endif %}

{% endblock content%}
