{% extends "layout.html" %}
{% block content %}
<div>
	<center>
	<button id="dailyButton" class ="btn btn-outline-info">Daily Activity</button>
	<button id="historicalButton" class ="btn btn-outline-info">Historical</button>
	</center>
</div>

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'daily')}}";
    };

document.getElementById("historicalButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'historical')}}";
    };
</script>

<center>
<h1>Sleep Historical</h1>
</center>



<canvas id="line_canvas"></canvas>
<canvas id="line_canvas1"></canvas>
<canvas id="line_canvas2"></canvas>

<script>
var data_set_daily = [{
        label: 'Sleep Time',
        Color: '#FF00FF',
        fill: false,
        data: {{data.sleep_time.week}}
    }
];
var daily_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

var month_data_set = [{
        label: 'Sleep Time',
        Color: '#000080',
        fill: false,
        data: {{data.sleep_time.month}}
    }
];
var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]

var all_data_set = [{
        label: 'Sleep Time',
        Color: '#800080',
        fill: false,
        data: {{data.sleep_time.month}}
    }
];

document.addEventListener('DOMContentLoaded', function(){
	line_chart('line_canvas', data_set_daily, daily_labels, '')
	line_chart('line_canvas1', month_data_set, month_labels, '')
	line_chart('line_canvas2', all_data_set, ["3m", "6m", "9m", "12m", "15m", "18m"], '')
}, false);

</script>


{% endblock content%}
