{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link active" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'historical')}}";
    };
</script>
<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Sleep</h5>
						{% if user_data %}
						<h6 class="card-subtitle mb-4 text-muted">Browse your sleep history.</h6>
						<div class="days">
							{% for day in user_data %}
							<div class="single_day">
								<div class="day_name"><p>{{day.day_display_name}}</p></div>
								<div class="container">
									<div class="row">
										<div class="chart-wrapper col">
											<canvas id="canvas_{{loop.index}}"></canvas>
											<script>
												document.addEventListener('DOMContentLoaded', function(){
												var data_{{loop.index}} = [{
													label: 'Hours Overslept/Underslept',
													backgroundColor: "#800000",
													borderColor: "#800000",
													borderWidth: 1,
													data: [
													{{day.hours_slept}}
													]
													}]

													bar_chart("#canvas_{{loop.index}}", data_{{loop.index}}, ["Sleep"], "")
												}, false);
											</script>
										</div>
										<div class="chart-wrapper col">
											<div class="sleep_quality_chart chart_progress", data={{day.sleep_quality}}></div>
											<h2 class="chart_title">Quality</h2>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% else %}
						<h6 class="card-subtitle mb-4 text-muted">You don't have any recorded data yet.</h6>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
</div>
{% endblock content%}
