{% extends "layout.html" %}
{% block content %}
<div class="switch-navigation">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a id="dailyButton" class="nav-link" href="#">DAY BY DAY</a>
  </li>
		<div class="vertical-line"></div>
  <li class="nav-item">
    <a id="historyButton" class="nav-link active" href="#">GRAPHS</a>
  </li>
</ul>
<div class="switch-navigation">

<script>
document.getElementById("dailyButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'daily')}}";
    };

document.getElementById("historyButton").onclick = function () {
        location.href = "{{url_for('load_sleep', view = 'historical')}}";
    };
</script>

<div class="pills_wrapper">
  <center>
  	<div class="nav_pills">
  			<button id="show_week" class ="btn btn-outline-info">Week</button>
  			<button id="show_month" class ="btn btn-outline-info">Month</button>
  			<button id="show_year" class ="btn btn-outline-info">Year</button>
  	</div>
  </center>
  <div class="nav_pill_content week">
    <canvas id="line_canvas"></canvas>
  </div>
  <div class="nav_pill_content month">
  	<canvas id="line_canvas1"></canvas>
  </div>
  <div class="nav_pill_content year">
  	<canvas id="line_canvas2"></canvas>
</div>

<script>
var data_set_daily = [{
        label: 'Sleep Time',
        Color: '#EF8132',
        fill: false,
        data: {{data.sleep_time.week}}
    }
];
var daily_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
var month_data_set = [{
        label: 'Sleep Time',
        Color: '#EF8132',
        fill: false,
        data: {{data.sleep_time.month}}
    }
];
var month_labels = [
 {% for i in range(31)[1:] %}
 "{{ i}} day",
 {% endfor %}
]
var year_labels = [
 {% for i in range(13)[1:] %}
 "{{ i}} month",
 {% endfor %}
]
var all_data_set = [{
        label: 'Sleep Time',
        Color: '#EF8132',
        fill: false,
        data: {{data.sleep_time.month}}
    }
];
document.addEventListener('DOMContentLoaded', function(){
	line_chart('line_canvas', data_set_daily, daily_labels, '')
	line_chart('line_canvas1', month_data_set, month_labels, '')
	line_chart('line_canvas2', all_data_set, year_labels, '')
}, false);
</script>


{% endblock content%}
