{% extends "layout.html" %}
{% block content %}
	<div class="coach">
		<div class="coach_img"><img src="{{ url_for('static', filename='analysis.png') }}" alt=""></div>
		<h5 class="coach-title">How we collect data</h5>
    <p>To be able to give you tips on how to improve your holistic health we will slowly get to know you better.
      The more data we collect about you, the better our algorithms generate these tips. Every day, we will ask you to assess your wellbeing. </p>
      <p>Over time, our algorithms will base it's decisions on you more and more, making sure you get the best advice possible. Just as shown below.</p>
    <img src="{{url_for('static', filename='data_collection_chart.png')}}" width="100%", height="auto"></img>
    <p>We are of course GDPR compliant.</p>
        <button id="userInputForm" type="submit" class="btn btn-primary">I understand</button>
	</div>
  <script>
      $("#userInputForm").click(function() {
      $('html,body').animate({
          scrollTop: $(".content-section").offset().top},
          'slow');
        $('#userInputForm').attr('disabled','disabled');

  });
  </script>
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">User input</legend>
				<div class="form-group">
					{{ form.birthday.label(class="form-control-label") }}
					{% if form.birthday.errors %}
						{{ form.birthday(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.birthday.errors %}
							<span>{{ errors }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.birthday(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.length.label(class="form-control-label") }}
					{% if form.length.errors %}
						{{ form.length(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.length.errors %}
							<span>{{ errors }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.length(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.weight.label(class="form-control-label") }}
					{% if form.weight.errors %}
						{{ form.weight(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.weight.errors %}
							<span>{{ errors }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.weight(class="form-control form-control-lg") }}
					{% endif %}
				</div>
                <div class="form-group">
					{{ form.gender.label }}
					{% if form.gender.errors %}
						{{ form.gender(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.gender.errors %}
							<span>{{ errors }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.gender }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content%}
